* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.61),rgba(0,0,0,0.61)), url(images/banner.jpg) no-repeat scroll center/cover ;
}
.center {
    width: 68%;
    height: 100%;
    margin: 0 auto;

}
main .center header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .center header .logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 50px;
}
main .center header .logo-container h3 {
    color: white;
    font-size: 40px;
}
main .center header .logo-container .logo {
    width:42px ;
    height: 42px;
}
main .center header .logo-container .logo img {
    width: 42px;
    height: 42px;
}
main .center header ul {
    width: 28%;
    display: flex;
   justify-content: space-around;
   padding: 35px 0 ;
   margin-right: 35px;
}
main .center header ul li {
    list-style-type: none;
}
main .center header ul li  a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    
}
 
main .center header ul li a.home {
    color: orange;
}
main .center .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    margin-left: 50px;
}
main .center .content h1 {
    color: white;
    font-size: 60px;
    padding-top: 17px;
}
main .center .content h2{
    color: transparent;
    font-size: 130px;
    font-weight: 900;
    -webkit-text-stroke: 3px white ;
    line-height: 1.2;
}
main .center .content p{
    color: white;
    font-size: 22px;
    padding: 18px 0 ;
    line-height: 1.6    ;
}
main .center .content .buttons {
    padding: 20px 0;
    display: flex;
    gap: 20px;
}
main .center .content .buttons a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 40px;
}
main .center .content .buttons a.yellow{
    background-color: orange;
    color: black;
    border-radius: 7px;
    padding: 1em 2em;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}
main .center .content .buttons a.yellow::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right,yellow,orange);
    z-index: -1;
}
main .center .content .buttons a.yellow:hover{
    z-index: 0;
    box-shadow: 40px 0 200px /* #008cff */ orange , -40px 0 200px /* #e100ff */ yellow;
}
main .center .content .buttons a.table {
    color: orange;
    border-radius: 7px;
    border: 1px solid;
    padding: 1em 2em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
}
main .center .content .buttons a.table::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 7px;
    background-image: linear-gradient(to bottom right, yellow, orange);
    z-index: -1;
}

main .center .content .buttons a.table:hover {
    z-index: 0;
    box-shadow: 20px 0 300px
        /* #008cff */
        orange, -20px 0 400px
        /* #e100ff */
        yellow;
}
 .page2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    background-color: #eee;
    gap: 33px;
    padding-bottom: 70px;

}
 .page2 .category {
    display: flex;
    width: 20% ;
    /*word-break: keep-all;
    overflow: hidden;
    */background-color: white;
    margin-top: 70px;
    border-radius: 10px;
    flex-direction: column;
    padding: 12px 0 ;
    /*margin-bottom: 100px;
    */align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
} 
.page2 .category:hover {
    scale: 1.1;

}
.page2 .category img {
    margin-top: 20px;
    /* padding: ; */
    width: 40px;
    height: 40px;
}
.page2 .category h1 {
    /* margin-left: 132px; */
    font-size: 24px;
    padding: 14px 0;
    margin-top: 12px;
}
.page2 .category p {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 10px;
}
.page2 .category a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 22px;
}
.page3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.page3 ul {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-left: 100px;
}
.page3 ul li {
    list-style-type: "\2661";
    padding-left: 10px;
}
.page3 ul li::marker {
    color: orange;
    font-size: 30px;
    font-weight: bold;
}
.page3 ul li a {
    color: rgb(135, 135, 135);
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
}
 .page3 .logo2 {
width: 473px;
    height: 675px;
    margin-bottom: 40px;
 }
.page3 .logo2 .logo23 {
    /* scale: 1.13; */
    width: 473px;
    height: 675px;
}
.container {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url(images/bg.jpg)  no-repeat scroll bottom center/cover;
    height: 550px;
    margin-top: 10px;
    background-position:0 -500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container .contact .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.container .buttons a.contact-us {
    background-color: orange;
    color: black;
    border-radius: 7px;
    text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        padding: 20px 40px;
}
 
 .container .contact .buttons a.book {
    color: orange;
    border-radius: 7px;
    border: 1px solid;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 40px;
}
  .container .contact .buttons a.book::after {
    content: '';
    position: relative;
    height: 107%;
    width: 102%;
    border-radius: 7px;
    z-index: -1;
}

  .container .buttons a.book:hover {
    z-index: 2;
    box-shadow: 40px 0 200px
        /* #008cff */
        orange, -40px 0 200px
        /* #e100ff */
        yellow;
}
.container .contact h1 {
    color: white;
}
.container .contact h1 .stro{
    color: orange;
}
footer {
    background-color: #16161a;
    text-align: center;
    width: 100%;
    padding-block: 30px;
}
footer p {
    color: #858489;
    font-size: 25px;
}